*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgb(106, 211, 253), rgb(189, 189, 189));
    width: 100vw;
    height: 100vh;
}